@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Poppins:wght@100;200;400&family=Work+Sans:wght@100;200;300;600&display=swap');

*{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/bg.png) no-repeat;
}


.container{
    position: relative;
    max-width: 800px;
    width: 100%;
    border: 2px solid rgba(255,255,255,0.9);
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}

.container header{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    color: #333;

}

.container form .personalDetails{
    position: relative;
    margin-top: 10px;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 400;
    color: #2e2e2e;

}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 30px;
    margin: 8px 0;
}

input-field input[type="date"]{
    color-scheme: #707070;
}

input-field input[type="date"]:valid{
    color-scheme: #333;
}


form input:focus{
    background: #eeeeee;
}


form button {
    padding: 10px 50px;
    background: #8723e6;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 10em;
    margin: 2em 20em;
    border-radius:2em;
    
}

form button[type=submit]:hover{
    background-color: #b57ceb;
}

span {
    color: #40ff;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
}


.gender-title{
    font-size: 12px;
    font-weight: 400;
    color: #2e2e2e;
    margin-top: 0px;
}

.gender-details {
    position: relative;
    margin-right: 345px;
    height: 65px; 
    justify-content: space-between;  
}


.gender{
    padding: 10px 0;
    
}

.checkbox-details{
    position: absolute;
    margin-left: 65%;
    margin-top: 40px;
}

.checkox-title{
    margin-bottom: 50px;
}

.checkbox p{
    position: absolute;
    margin-left: 20pz;
    align-items: center;
    margin-left: 20px;
    justify-content: space-between;
    margin-right: 0px;
}











